<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobanngame.blog.logic.mapper.MetadataMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.bobanngame.blog.logic.entity.Metadata">
		<id column="id" property="id" />
		<result column="meta_key" property="metaKey" />
		<result column="meta_value" property="metaValue" />
		<result column="object_type" property="objectType" />
		<result column="object_id" property="objectId" />
	</resultMap>

</mapper>
